[submodule "external/Catch2"]
	path = external/Catch2
	url = https://bgithub.xyz/catchorg/Catch2
[submodule "external/backward-cpp"]
	path = external/backward-cpp
	url = https://bgithub.xyz/bombela/backward-cpp
